
body{
    background-color:lightgray;
    overflow-y: auto;
}

h3{
    padding: 2%;
    text-align:center;
}

#wrapper_upper, #wrapper_lower{
    width:100%;
    overflow-x:scroll;
    overflow-y:hidden;
}
#wrapper_upper{
    padding-top: 2%;
    height: 17%;
}

#wrapper_lower{
    height: 83%;
}

#upper_scroll{
    width: 300%;
    height:100%;
    overflow-x:scroll;
    overflow-y:hidden;
}

#vis_container{
    padding-top: 2%;
    width: 300%;
    height: 100%;
    overflow:auto;
}

h1,h2{
    text-align:center;
}

span{
    padding-top:5%;
    padding-bottom:0px;

}

#plus{
    float:right;
    padding-right:2%;
    color: green;
    font-size: 2em;
}

#minus{
    float:left;
    padding-left: 2%;
    color: red;
    font-size:2em;

}

#legend{
    width:100%;
    height:200px;
    text-align:left;
    clear:both;
    font-weight:bold;
    padding:0px;
}

#red{
    fill:red;
}

#yellow{
    fill:#bdba31;
}

#green{
    fill:green;
}

circle{
    padding:0;
}



